@use './src/styles/variables'

.Navbar
  background-color: variables.$navbar-color

.logo2
  color: variables.$secondary-text
  font-size: 25px
  font-family: 'Roboto' 
  font-weight: 700

.Navbar .logo
  color: variables.$secondary-text
  font-size: 30px
  font-family: 'Roboto' 
  font-weight: 700

.Navbar .logo:hover
  color: #40989e 
  cursor: pointer

.navlink
  color: variables.$primary-text
  margin-left: 10px
  margin-right: 15px
  position: relative
  padding-bottom: 0

.navlink:hover
  color: #ffffffad

.navlink::after
  content: ""
  width: 0%
  height: 1px
  background-color: variables.$secondary-text
  position: absolute
  bottom: 0
  left: 0
  transition: 0.3s ease-in-out

.navlink:hover::after
  width: 100%

.offcanvas
  background-color: #09091694

.btn-close
  background-color: #4EC9D1

.language-toggle
  position: relative
  width: 85px
  height: 35px
  background-color: #36353559
  border-radius: 30px
  display: flex
  align-items: center
  justify-content: space-between
  padding: 5px
  cursor: pointer
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.527)
  transition: background-color 0.3s

.flag
  width: 31px
  height: 31px
  transition: filter 0.3s, transform 0.3s

.flag.brazil
  filter: grayscale(100%)

.flag.usa
  filter: grayscale(100%)

.flag.active
  filter: none

.toggle-switch
  position: absolute
  top: 2px
  left: 2px
  width: 26px
  height: 26px
  
  border-radius: 50%
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)
  transition: transform 0.3s

.language-toggle.on .toggle-switch
  transform: translateX(30px)

.language-toggle.on .flag.brazil
  filter: grayscale(100%)

.language-toggle.on .flag.usa
  filter: none

.language-toggle.off .toggle-switch
  transform: translateX(0)

.language-toggle.off .flag.brazil
  filter: none

.language-toggle.off .flag.usa
  filter: grayscale(100%)

@media(max-width: 767px)
  .nav-link
    padding-top: 40px
